/* css của GIỎ HÀNG */
*{
    box-sizing: border-box;
    
  }
  .gio-hang{
    position: absolute;
    top: 150px;
    left: 300px;
  }
  .gio-hang input{
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .gio-hang{
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ddd;
    padding: 20px;
    margin: auto;
    max-width: 1100px;
  }
  .item-gio-hang{
    display:flex ;
    flex-direction: row;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
  
  }
  .tieudegiohang{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  .item-gio-hang .hinhAnh img{
    width: 60px;
    height: 60px;
  }
  .item-gio-hang, .hinhAnh, .soluong, .tongtien, .hanhdong{
    flex: 1;
    margin-left: 20px;
  }
  .soluongtt{
    font-weight: 1000;
    font-size: 20px;
  }
  .item-gio-hang .gia{
    flex: 1.5;
    text-align: center;
  }
  .item-gio-hang .gia .giatt{
    font-weight: 1000;
    font-size: 20px;
  }
  .item-gio-hang input{
    width: 100%;
  }
  .item-gio-hang .ten{
    flex: 3;
  }
  .item-gio-hang .ten .tentt{
    font-weight: 1000;
    font-size: 20px;
  }
  .item-gio-hang .tongtien{
    font-weight: 1000;
  }
  .item-gio-hang .tongtientt{
    font-size: 20px;
  }
  .gio-hang .hanhdong i{
    cursor: pointer;
    opacity: 0.6;
  }
  .gio-hang .hanhdongtt {
    font-weight: 1000;
    font-size: 20px;
  }
  .gio-hang .hanhdong i:hover{
    opacity: 1;
  }