@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"); /*link google font cho chu*/
* {
  margin: 0px;
  padding: 0px;
}
#header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 5px 5px #999999;
}

#header .menu a {
  color: rgb(0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-decoration: none;
}
.menu {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  line-height: 80px;
  left: 250px;
  top: 55px;
  opacity: 1;
}
.menu a:hover {
  color: black;
  opacity: 0.6;
}
/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  top: 54px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 200px;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.689);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown_tt {
  color: white;
  margin-left: 30px;
  text-decoration: none;
}

.dropdown_tt a {
  color: whitesmoke !important ;
  font-weight: 600 !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 0px !important;
  padding: 1px 2px;
  margin: 1px 0;
  text-decoration: none;
  opacity: 1;
}
.dropdown_tt a:hover {
  border: none;
  opacity: 0.5;
}
.logo_brand {
  top: 50px;
  position: absolute;
  left: 60px;
  cursor: pointer;
  opacity: 1;
}
.logo_brand:hover {
  opacity: 0.5;
}
.logo_user {
  position: absolute;
  top: 8px;
  right: 130px;
  cursor: pointer;
  opacity: 1;
}
.logo_user:hover {
  opacity: 0.8;
}
.logo_giohang {
  border: none;
  position: absolute;
  top: 2px;
  right: 60px;
  cursor: pointer;
  opacity: 1;
}
.logo_giohang:hover {
  opacity: 0.8;
}
.logo_jd {
  position: absolute;
  top: 0px;
  left: 100px;
  cursor: pointer;
  opacity: 1;
}
.logo_jd:hover {
  opacity: 0.8;
}

.logo_vans {
  position: absolute;
  top: 10px;
  left: 60px;
  cursor: pointer;
  opacity: 1;
}
.logo_vans:hover {
  opacity: 0.8;
}

.logo_belive {
  position: absolute;
  top: 0px;
  left: 35%;
}
.logo_nikeblack {
  position: absolute;
  top: 0px;
  right: 40%;
}

.search {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  right: 60px;
  top: 75px;
}
#search_box {
  display: inline;
  border: solid black 1px;
  background-color: #ffffff;
  border-radius: 10px;
}
#search_text {
  border: none;
  outline: none;
  width: 200px;
  background-color: none;
  font-size: 15px;
  padding-left: 7px;
}

#search_button {
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
#poster_container {
  margin-top: 0px;
}
.poster {
  text-align: center;
  padding: 25px 50px;
}
.btn_jordan {
  position: absolute;
  top: 680px;
  left: 120px;
  border-radius: 47%;
  background-color: rgb(255, 255, 255);
  font: 1em sans-serif;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.btn_jordan:hover {
  opacity: 0.8;
}
.poster1 {
  text-align: center;
  padding: 0px 50px;
}
.btn_nikeair {
  position: absolute;
  top: 1160px;
  left: 700px;
  border-radius: 47%;
  background-color: black;
  font: 1em sans-serif;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.btn_nikeair:hover {
  opacity: 0.8;
}

.poster2 {
  text-align: center;
  padding: 0px 50px;
}

.poster3 {
  text-align: center;
  padding: 0px 50px;
}

.btn_vans {
  position: absolute;
  top: 2330px;
  left: 700px;
  border-radius: 47%;
  background-color: black;
  font: 1em sans-serif;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.btn_vans:hover {
  opacity: 0.8;
}

.form_container {
  height: 180%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: none;
  position: fixed;
  top: 0px;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}
#loginform {
  width: 500px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.807);
  position: absolute;
  left: calc(50% - 300px);
  top: 150px;
  padding: 25px;
  border-radius: 15px;
}
#loginform label {
  font-size: 20px;
}
#loginform h2 {
  margin: 10px 0px 5px;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.border {
  padding: 15px;
  border: 4px black solid;
}
.info_container {
  width: 100%;
  display: inline-flex;
  font: 1em sans-serif;
  font-size: 20px;
  padding: 0 15px;
}
.info_container div:first-child {
  font-size: 21px;
  width: 30%;
}
.info_container input {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.info_container input:focus {
  outline: none;
}
.user_info {
  width: 50%;
  display: inline-block;
  height: 40px;
  padding-left: 40px;
  text-align: left;
}
#registerform {
  width: 500px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.868);
  position: absolute;
  left: calc(50% - 300px);
  top: 50px;
  padding: 25px;
  border-radius: 15px;
}
#registerform label {
  font-size: 15px;
}
#registerform h2 {
  margin: 0px 0px 0px;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  margin: 0 auto;
  padding: 10%;
  border: 5px solid;
  background-color: white;
}

.btn_form {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 49%;
  cursor: pointer;
  opacity: 0.8;
}
.btn_form:hover {
  opacity: 1;
}

.ip {
  width: 90%;
  padding: 15px;
  margin: 15px 0px 5px 0px;
  display: inline-block;
  border: none;
  box-shadow: 0px 0px 2px 2px #999999;
}

.btn_exit {
  float: right;
  height: 10px;
  cursor: pointer;
  opacity: 0.9;
}
.btn_exit:hover {
  opacity: 1;
}
/*--------------------Phan Chinh sp chen vao--------------*/
#main_product_content {
  margin-top: 120px;
  width: 100%;
  height: fit-content;
  display: none;
}
#main_product_container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main_product_item {
  width: 20%;
  margin: 2.5%;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.main_product_item:hover {
  border: solid 2px #000000;
  width: calc(20% - 4px);
  height: auto;
}
.main_product_item:hover .main_product_buy {
  height: 70px;
  width: calc(100% + 2px);
  transition: 0.5s;
  font-size: 16px;
}

.main_product_item img {
  width: 100%;
  display: block;
}

.main_product_buy {
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: #000000;
  color: #fff;
  position: absolute;
  width: calc(100%+2px);
  height: 0px;
  font-size: 0px;
  line-height: 70px;
  bottom: 150px;
  left: -1px;
}

.main_product_name {
  color: #334862;
  height: 100px;
  padding: 0px 2px;
}
.main_product_company {
  padding: 0px 2px;
}
.main_product_price {
  text-align: center;
}

#pagination {
  text-align: center;
  margin: 2% 0px;
}

#pagination #pagination_center {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #ffffff;
}

#pagination #pagination_left {
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
}

#pagination #pagination_right {
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
}

/*----------------Phan chinh sp chen vao -------------*/

/*---------------Phan chinh sp mac dinh----------*/
.product_content {
  width: 100%;
  position: relative;
  height: 600px;
  z-index: 9;
}
.title_sp {
  color: #000000;
  font-size: 40px;
  border: none;
  width: 80%;
  margin: 0px 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  display: block;
}
.title_sp_new {
  color: #000000;
  font-size: 30px;
  border: none;
  width: 80%;
  margin: 0px 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  display: block;
}
.title_sp a,
.title_sp_new a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  opacity: 0.8;
}
.title_sp a:hover,
.title_sp_new a:hover {
  border-color: rgb(0, 0, 0);
  border-width: 0 0 3px 0;
  border-style: none none solid none;
  opacity: 1;
}

.product_container {
  width: 80%;
  margin: 0 15%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 9;
}

.product_item {
  width: 18%;
  margin: 15px 2.5% 100px 2.5%;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.product_item:hover {
  border: solid 2px #000000;
  width: 17.7%;
  margin-bottom: 2.49%;
}
.product_item:hover .product_buy {
  height: 70px;
  transition: 0.5s;
  font-size: 16px;
}

.product_item img {
  width: 100%;
  display: block;
}

.product_buy {
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: #000000;
  color: #fff;
  position: absolute;
  width: calc(100% + 4px);
  height: 0px;
  font-size: 0px;
  line-height: 70px;
  bottom: 316px;
  left: -2px;
}

.product_name {
  color: #334862;
  padding: 0px 2px;
  height: 200px;
}
.product_company {
  padding: 0px 2px;
}
.product_price {
  text-align: center;
}

/*khu vuc chinh phan trang san pham*/
/* Hide the images by default */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.control {
  cursor: pointer;
  position: absolute;
  top: 30%;
  font-size: 70px;
  opacity: 0.7;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: -35px;
}
.next {
  right: 65px;
}
.prev:hover,
.next:hover {
  opacity: 1;
}
.main_dot,
.main_dot1,
.main_dot2 {
  position: absolute;
  top: 100%;
  left: 43%;
}
.dot,
.dot1,
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.active1,
.dot1:hover {
  background-color: #717171;
}
.active2,
.dot2:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.text_roll {
  color: rgb(0, 0, 0);
  font: 5em fantasy;
  font-weight: 500;
  text-decoration: none;
}

/* FOOTER css */
#footer {
  width: 100%;
  height: auto;
  position: relative;
}
.logo_shop {
  position: absolute;
  top: 20px;
  right: 80px;
  opacity: 0.7;
}
.logo_shop:hover {
  opacity: 1;
}
.iconfb {
  position: absolute;
  top: 280px;
  right: 630px;
  opacity: 0.7;
}
.iconfb:hover {
  opacity: 1;
}
.iconig {
  position: absolute;
  top: 280px;
  right: 570px;
  opacity: 0.7;
}
.iconig:hover {
  opacity: 1;
}
.iconyt {
  position: absolute;
  top: 280px;
  right: 510px;
  opacity: 0.7;
}
.iconyt:hover {
  opacity: 1;
}
.icontw {
  position: absolute;
  top: 280px;
  right: 450px;
  opacity: 0.7;
}
.icontw:hover {
  opacity: 1;
}
.gps {
  position: absolute;
  top: 300px;
  left: 0px;
}
.footer_text1 {
  position: absolute;
  top: 35px;
  left: 80px;
  list-style: none;
}
.footer_text2 {
  position: absolute;
  top: 35px;
  left: 280px;
  list-style: none;
}
.footer_text3 {
  position: absolute;
  top: 35px;
  left: 540px;
  list-style: none;
}
.footer_link_tt a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.footer_link {
  padding: 10px 20px;
  margin: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.footer_link a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}
.footer_link a:hover {
  opacity: 1;
}

/*-----------------------------------------Pháº§n resposive---------------------------------------------------*/

/*----Moblie---(width < 740px)----*/
@media only screen and (max-width: 740px) {
  .logo_vans {
    left: 1%;
  }
  .logo_jd {
    left: 5%;
  }
  .logo_belive {
    left: 15%;
  }
  .logo_nikeblack {
    left: 50%;
  }
  .logo_giohang {
    right: 1%;
  }
  .logo_user {
    right: 10%;
  }
  .logo_brand {
    display: none;
  }
  #header .menu {
    left: 0px;
  }
  #header .menu a {
    padding: 1px 5px;
    font-size: small;
  }
  #header .menu .dropdown {
    padding: 0px 0px;
  }
  .search {
    right: 5px;
  }
  #search_box #search_text {
    width: 50px;
  }
  .poster video {
    margin-top: 110px;
  }
  .btn_jordan {
    display: none;
  }
  .btn_nikeair {
    display: none;
  }
  .btn_vans {
    display: none;
  }
  .main_product_item {
    margin-bottom: 10%;
  }
  .main_product_name {
    font-size: x-small;
    height: 80px;
  }
  .main_product_company {
    font-size: x-small;
  }
  .main_product_price {
    font-size: small;
  }
  .main_product_buy {
    bottom: 53%;
  }
  .main_product_item:hover .main_product_buy {
    font-size: x-small;
    height: 40px;
    line-height: 40px;
  }

  .product_content {
    height: 400px;
  }
  .title_sp_new {
    margin-left: 25px;
  }
  .product_name {
    font-size: x-small;
  }
  .product_item {
    height: 150px;
  }
  .product_info {
    height: 150px;
  }
  .product_name {
    height: 80px;
  }
  .product_price b {
    font-size: small;
  }
  .product_buy {
    bottom: 52%;
    background-color: #fff;
  }
  .product_item:hover .product_buy {
    font-size: 7px;
    height: 30px;
    background-color: #000000;
    line-height: 30px;
  }
  .next {
    right: 0px;
  }
  .main_dot {
    top: 90%;
    left: 41%;
  }
  .logo_shop {
    top: 220px;
    right: 0px;
  }
  .logo_shop img {
    width: 120px;
  }
  .footer_text1 {
    left: 0px;
    width: 135px;
  }
  .footer_text2 {
    left: 135px;
    width: 188px;
  }
  .footer_text3 {
    left: 323px;
  }
  .icontw {
    top: 250px;
    left: 165px;
  }
  .iconyt {
    top: 250px;
    left: 115px;
  }
  .iconig {
    top: 250px;
    left: 65px;
  }
  .iconfb {
    top: 250px;
    left: 15px;
  }
}

/*----Tablet---(740px <= width < 1024px)----*/
@media only screen and (min-width: 741px) and (max-width: 1024px) {
  .logo_brand {
    left: 0px;
  }
  #header .menu {
    left: 100px;
  }
  #header .menu a {
    padding: 0px 5px;
  }
  #search_box #search_text {
    width: 50px;
  }
  .poster video {
    margin-top: 110px;
  }
  .btn_jordan {
    display: none;
  }
  .btn_nikeair {
    display: none;
  }
  .btn_vans {
    display: none;
  }
  .title_sp_new {
    margin-left: 25px;
  }
  .main_product_item {
    margin-bottom: 10%;
  }
  .main_product_item:hover {
    height: 246px;
  }
  .main_product_item:hover .main_product_buy {
    font-size: small;
  }
  .main_product_buy {
    bottom: 100px;
  }

  .main_product_name {
    font-size: small;
  }
  .product_container {
    width: 100%;
    margin: 0px;
  }

  .product_item {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }
  .prev {
    left: -10px;
  }
  .next {
    right: 0px;
  }
  .product_info {
    height: 250px;
  }
  .product_name {
    font-size: small;
    height: 100px;
  }
  .product_price br {
    margin: 0px;
  }
  .product_buy {
    bottom: 180px;
  }
  .product_item:hover .product_buy {
    font-size: small;
  }
  .footer_text1 {
    left: 5px;
  }
  .footer_text2 {
    left: 132px;
  }
  .footer_text3 {
    left: 310px;
  }
  .logo_shop {
    top: 0px;
    right: 0px;
  }
  #footer_icon {
    position: absolute;
    right: 0px;
  }
  .icontw {
    right: 20px;
  }
  .iconyt {
    right: 70px;
  }
  .iconig {
    right: 120px;
  }
  .iconfb {
    right: 170px;
  }
}
