@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"); /*link google font cho chu*/
* {
  margin: 0px;
  padding: 0px;
}
#header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 5px 5px #999999;
}

#header .menu a {
  color: rgb(0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 0.7em;
  padding-right: 0.7em;
  text-decoration: none;
}
.menu {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  line-height: 80px;
  left: 250px;
  top: 55px;
  opacity: 1;
}
.menu2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  line-height: 80px;
  left: 20px;
  top: 65px;
  opacity: 1;
  display: none;
}

.menu a:hover,
.menu2 a:hover {
  color: black;
  opacity: 0.6;
}
/* dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown2 {
  position: relative;
  display: inline-block;
  width: 100px;
}

.dropdown-content {
  position: absolute;
  top: 54px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 200px;
  display: none;
  background-color: rgba(0, 0, 0, 0.689);
}
.dropdown-content2 {
  position: absolute;
  top: 70px;
  left: -20px;
  width: 200px;
  display: none;
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 5px 5px 5px #999999;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown_tt,
.dropdown_tt2 {
  color: white;
  margin-left: 30px;
  text-decoration: none;
}

.dropdown_tt a {
  color: whitesmoke !important ;
  font-weight: 600 !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 0px !important;
  padding: 1px 2px;
  margin: 1px 0;
  text-decoration: none;
  opacity: 1;
}
.dropdown_tt2 a {
  color: rgb(0, 0, 0) !important ;
  font-weight: 600 !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 0px !important;
  padding: 1px 2px;
  margin: 1px 0;
  text-decoration: none;
  opacity: 1;
}
.dropdown_tt a:hover {
  border: none;
  opacity: 0.5;
}
.logo_brand {
  top: 50px;
  position: absolute;
  left: 60px;
  cursor: pointer;
  opacity: 1;
}
.logo_brand:hover {
  opacity: 0.5;
}
.logo_user {
  position: absolute;
  top: 8px;
  right: 130px;
  cursor: pointer;
  opacity: 1;
}
.logo_user:hover {
  opacity: 0.8;
}
.logo_giohang {
  border: none;
  position: absolute;
  top: 2px;
  right: 60px;
  cursor: pointer;
  opacity: 1;
}
.logo_giohang:hover {
  opacity: 0.8;
}
.logo_jd {
  position: absolute;
  top: 0px;
  left: 100px;
  cursor: pointer;
  opacity: 1;
}
.logo_jd:hover {
  opacity: 0.8;
}

.logo_vans {
  position: absolute;
  top: 10px;
  left: 60px;
  cursor: pointer;
  opacity: 1;
}
.logo_vans:hover {
  opacity: 0.8;
}

.logo_belive {
  position: absolute;
  top: 0px;
  left: 35%;
}
.logo_nikeblack {
  position: absolute;
  top: 0px;
  right: 40%;
}

.search {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  right: 60px;
  top: 75px;
}
#search_box {
  display: inline;
  border: solid black 1px;
  background-color: #ffffff;
  border-radius: 10px;
}
#search_text {
  border: none;
  outline: none;
  width: 200px;
  background-color: none;
  font-size: 15px;
  padding-left: 7px;
}

#search_button {
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
#poster_container {
  margin-top: 0px;
}
.poster {
  text-align: center;
  padding: 25px 50px;
}
.btn_jordan {
  position: absolute;
  top: 680px;
  left: 120px;
  border-radius: 47%;
  background-color: rgb(255, 255, 255);
  font: 1em sans-serif;
  color: rgb(0, 0, 0);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.btn_jordan:hover {
  opacity: 0.8;
}
.poster1 {
  text-align: center;
  padding: 0px 50px;
}
.btn_nikeair {
  position: absolute;
  top: 1190px;
  left: 700px;
  border-radius: 47%;
  background-color: black;
  font: 1em sans-serif;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.btn_nikeair:hover {
  opacity: 0.8;
}

.poster2 {
  text-align: center;
  padding: 0px 50px;
}

.poster3 {
  text-align: center;
  padding: 0px 50px;
}

.btn_vans {
  position: absolute;
  top: 2350px;
  left: 740px;
  border-radius: 47%;
  background-color: black;
  font: 1em sans-serif;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
}
.btn_vans:hover {
  opacity: 0.8;
}

.form_container {
  height: 180%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: none;
  position: fixed;
  top: 0px;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}
#loginform {
  width: 500px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.807);
  position: absolute;
  left: calc(50% - 300px);
  top: 150px;
  padding: 25px;
  border-radius: 15px;
}
#loginform label {
  font-size: 20px;
}
#loginform h2 {
  margin: 10px 0px 5px;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.border {
  padding: 15px;
  border: 4px black solid;
}
.info_container {
  width: 100%;
  display: inline-flex;
  font: 1em sans-serif;
  font-size: 20px;
  padding: 0 15px;
}
.info_container div:first-child {
  font-size: 21px;
  width: 30%;
}
.info_container input {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.info_container input:focus {
  outline: none;
}
.user_info {
  width: 50%;
  display: inline-block;
  height: 40px;
  padding-left: 40px;
  text-align: left;
}
#registerform {
  width: 500px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.868);
  position: absolute;
  left: calc(50% - 300px);
  top: 50px;
  padding: 25px;
  border-radius: 15px;
}
#registerform label {
  font-size: 15px;
}
#registerform h2 {
  margin: 0px 0px 0px;
  text-align: center;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  margin: 0 auto;
  padding: 10%;
  border: 5px solid;
  background-color: white;
}

.btn_form {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 49%;
  cursor: pointer;
  opacity: 0.8;
}
.btn_form:hover {
  opacity: 1;
}

.ip {
  width: 95%;
  padding: 15px;
  margin: 15px 0px 5px 0px;
  display: inline-block;
  border: none;
  box-shadow: 0px 0px 2px 2px #999999;
  text-align: left !important;
}
.ip2 {
  width: 95%;
  padding: 15px;
  margin: 15px 0px 5px 0px;
  display: inline-block;
  border: none;
  box-shadow: 0px 0px 2px 2px #999999;
  text-align: left !important;
  margin-left: 15px;
}
.btn_exit {
  float: right;
  height: 10px;
  cursor: pointer;
  opacity: 0.9;
}
.btn_exit:hover {
  opacity: 1;
}
/*--------------------Phan Chinh sp chen vao--------------*/
#main_product_content {
  margin-top: 120px;
  width: 100%;
  height: fit-content;
  display: none;
}
.title_sp {
  color: #000000;
  font-size: 40px;
  border: none;
  width: 80%;
  margin: 0px 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  display: block;
}
#main_product_container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main_product_item {
  width: 20%;
  margin: 2.5%;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.main_product_item:hover {
  border: solid 2px #000000;
  width: calc(20% - 4px);
  height: auto;
}
.main_product_item:hover .main_product_buy {
  height: 70px;
  width: calc(100% + 2px);
  transition: 0.5s;
  font-size: 16px;
}

.main_product_item img {
  width: 100%;
  display: block;
}

.main_product_buy {
  text-align: center;
  text-decoration: none;
  display: block;
  background-color: #000000;
  color: #fff;
  position: absolute;
  width: calc(100%+2px);
  height: 0px;
  font-size: 0px;
  line-height: 70px;
  bottom: 150px;
  left: -1px;
  cursor: pointer;
}

.main_product_name {
  color: #334862;
  height: 100px;
  padding: 0px 2px;
}
.main_product_company {
  padding: 0px 2px;
}
.main_product_price {
  text-align: center;
}

#pagination {
  text-align: center;
  margin: 2% 0px;
}

#pagination #pagination_center {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

#pagination #pagination_left {
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
}

#pagination #pagination_right {
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
}

#product_container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#new_pagination {
  text-align: center;
  margin: 2% 0px;
}

#new_pagination #new_pagination_center {
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

#new_pagination #new_pagination_left {
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
}

#new_pagination #new_pagination_right {
  background-color: #ffffff;
  border: none;
  width: 30px;
  height: 30px;
}

/*----------------Phan chinh sp chen vao -------------*/

/*khu vuc chinh phan trang san pham*/

.text_roll {
  color: rgb(0, 0, 0);
  font: 5em fantasy;
  font-weight: 500;
  text-decoration: none;
}

/* FOOTER css */
#footer {
  width: 100%;
  height: auto;
  position: relative;
}
.logo_shop {
  position: absolute;
  top: 20px;
  right: 80px;
  opacity: 0.7;
}
.logo_shop:hover {
  opacity: 1;
}
.iconfb {
  position: absolute;
  top: 280px;
  right: 630px;
  opacity: 0.7;
}
.iconfb:hover {
  opacity: 1;
}
.iconig {
  position: absolute;
  top: 280px;
  right: 570px;
  opacity: 0.7;
}
.iconig:hover {
  opacity: 1;
}
.iconyt {
  position: absolute;
  top: 280px;
  right: 510px;
  opacity: 0.7;
}
.iconyt:hover {
  opacity: 1;
}
.icontw {
  position: absolute;
  top: 280px;
  right: 450px;
  opacity: 0.7;
}
.icontw:hover {
  opacity: 1;
}
.gps {
  position: absolute;
  top: 300px;
  left: 0px;
}
.footer_text1 {
  position: absolute;
  top: 35px;
  left: 80px;
  list-style: none;
}
.footer_text2 {
  position: absolute;
  top: 35px;
  left: 280px;
  list-style: none;
}
.footer_text3 {
  position: absolute;
  top: 35px;
  left: 540px;
  list-style: none;
}
.footer_link_tt a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.footer_link {
  padding: 10px 20px;
  margin: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.footer_link a {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}
.footer_link a:hover {
  opacity: 1;
}
/*-------------------------------------------- Phần admin---------------------------------------------*/
.leftmenu {
  width: 20%;
  border-right: solid 3px #4caf50;
  float: left;
  background-color: none;
  height: 100%;
}
.leftmenu a {
  text-decoration: none !important;
}
.leftmenu div {
  font-size: 29px;
  color: #000000;
  padding: 25px;
}
.leftmenu div:hover {
  background-color: #e9e7e7;
  height: 50px;
  line-height: 50px;
}
.leftmenu:first-child {
  padding-top: 10px;
}
#content_admin {
  width: 79%;
  float: left;
  height: 100%;
}
#user_list {
  height: 750px;
}
.title_user {
  text-align: center;
  width: 60%;
  margin: 40px auto 0 auto;
  font-size: 28px;
}
#user_setting_container {
  width: 80%;
  border: solid 2px black;
  margin: 1% auto 0 auto;
  height: 700px;
  font-size: 20px;
  overflow-y: scroll;
}
.user_block {
  border: solid 2px black;
  height: 90px;
  margin: 20px 20px 0 20px;
}
.user_block div {
  display: inline-block;
  padding: 5px;
}
.user_block :first-child {
  font-size: 25px;
  margin-left: 15px;
}
.user_block input {
  border: none;
  background-color: transparent;
  cursor: default;
  width: 40%;
}
.user_block input:focus {
  outline: none;
}
.btn_xoaUser {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  background-color: green;
  border-radius: 2px;
}
.btn_xoaUser:hover {
  background-color: rgb(246, 85, 11);
}
.eye {
  position: absolute;
  background-color: white;
}

#product_list {
  border: solid 2px black;
  width: 80%;
  margin: 1% auto 0 auto;
  height: 700px;
  overflow-y: scroll;
}
.product_block {
  border: solid 2px black;
  margin: 3%;
  height: 22%;
  font-size: x-large;
  position: relative;
}
.product_block div {
  float: left;
  padding: 10px 10px 0 10px;
  padding-left: 5%;
}
.btn_xoaProduct {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  width: 50%;
  cursor: pointer;
  background-color: black;
  border-radius: 2px;
}
.btn_xoaProduct:hover {
  transform: scale(103%);
}
.btn_xoaProduct:active {
  transform: scale(100%);
}
/*-------------------------------------------Phan chi tiet sp-----------------------------------------------*/
#detail_container {
  height: calc(100% - 136px);
  width: 100%;
  position: fixed;
  top: 136px;
  background-color: white;
  display: none;
  z-index: 9;
  
}
#detail_form {
  width: 100%;
  height: 82%;
  margin-top: 0%;
  background-color: white;
  top: 136px;
}
#detail_form #detail_img {
  width: 50%;
  float: left;
}
#detail_form #detail_name {
  height: 30%;
  width: 47%;
  float: left;
  padding: 6% 0 0.3% 0.3%;
  font-size: xxx-large;
  font-weight: 1000;
}
#detail_form #detail_company {
  height: 5%;
  width: 47%;
  float: left;
  padding: 0% 0.3%;
  font-size: x-large;
}
#detail_form #detail_price {
  height: 5%;
  width: 47%;
  float: left;
  padding: 1% 0.3%;
  font-size: x-large;
}
#detail_form #detail_text {
  height: 10%;
  width: 47%;
  float: left;
  padding: 0% 0.3%;
  font-size: x-large;
  font-weight: both;
}
#detail_form #detail_text1 {
  color: #d64343;
  height: 10%;
  width: 47%;
  float: left;
  padding: 0% 0.3%;
  font-size: x-large;
  font-weight: both;
}
#detail_form #detail_exit {
  position: absolute;
  top: 6%;
  right: 1%;
  border-radius: 50%;
  cursor: pointer;
}
#detail_form #detail_exit:hover {
  opacity: 0.7;
}
#detail_form #detail_buy {
  text-align: center;
  padding: 1% 7%;
  margin: 4%;
  background-color: rgb(226, 35, 35);
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
}
#detail_form #detail_buy:hover, #detail_cart:hover {
  opacity: 0.7;
}

#detail_form #detail_cart {
  text-align: center;
  padding: 1% 5%;
  background-color: #000000;
  color: #fff;
  text-decoration: none !important;

  cursor: pointer;
}


/*-----------------------------------------Phần resposive---------------------------------------------------*/

/*----Moblie---(width < 740px)----*/
@media only screen and (max-width: 740px) {
  .logo_vans {
    left: 1%;
  }
  .logo_jd {
    left: 10%;
  }
  .logo_belive {
    left: calc(50% - 100px);
  }
  .logo_nikeblack {
    display: none;
  }
  .logo_giohang {
    right: 1%;
  }
  .logo_user {
    right: 15%;
  }
  .logo_brand {
    left: calc(50% - 60px);
  }
  #header .menu {
    left: 0px;
    display: none;
  }
  .menu2 {
    display: block;
  }
  .search {
    right: 3px;
    top: 80px;
  }

  #search_box #search_text {
    width: 55px;
  }

  #user_container #loginform {
    width: 80%;
    left: 5%;
  }
  #loginform {
    width: 80%;
    left: 5%;
  }
  #registerform {
    width: 80%;
    left: 5%;
  }

  .poster video {
    margin-top: 110px;
  }
  .btn_jordan {
    display: none;
  }
  .btn_nikeair {
    display: none;
  }
  .btn_vans {
    display: none;
  }
  .main_product_item {
    margin-bottom: 10%;
  }
  .main_product_name {
    font-size: x-small;
    height: 80px;
  }
  .main_product_company {
    font-size: x-small;
  }
  .main_product_price {
    font-size: small;
  }
  .main_product_buy {
    bottom: 53%;
    cursor: pointer;
  }
  .main_product_item:hover .main_product_buy {
    font-size: x-small;
    height: 40px;
    line-height: 40px;
  }
  #detail_container {
    top: 13%;
    height: 200%;
  }

  #detail_form #detail_name {
    font-size: large;
    height: 7%;
    padding-top: 8%;
  }
  #detail_form #detail_price {
    font-size: small;
  }
  #detail_form #detail_company {
    font-size: small;
  }
  #detail_form #detail_text {
    margin-bottom: 6%;
    font-size: small;
    margin-bottom: 1%;
  }
  #detail_form #detail_exit {
    top: 4%;
  }
  #detail_form #detail_buy {
    padding: 1% 10%;
  }
  #detail_form #detail_cart {
    padding: 1% 4%;
  }
  .logo_shop {
    top: 220px;
    right: 0px;
  }
  .logo_shop img {
    display: none;
  }
  .footer_text1 {
    left: 40px;
    width: 125px;
  }
  .footer_text2 {
    display: none;
  }
  .footer_text3 {
    left: 200px;
  }
  .icontw {
    display: none;
  }
  .iconyt {
    top: 300px;
    right: 20px;
  }
  .iconig {
    top: 300px;
    right: 70px;
  }
  .iconfb {
    top: 300px;
    right: 120px;
  }
}

/*----Tablet---(740px <= width < 1024px)----*/
@media only screen and (min-width: 741px) and (max-width: 1024px) {
  .logo_brand {
    left: calc(50% - 60px);
  }
  .logo_belive {
    left: calc(50% - 200px);
  }

  #header .menu {
    display: none;
  }
  .menu2 {
    display: block;
  }
  .search {
    right: 3px;
    top: 80px;
  }

  #search_box #search_text {
    width: 55px;
  }
  #search_box #search_text {
    width: 55px;
  }
  .poster video {
    margin-top: 110px;
  }
  .btn_jordan {
    display: none;
  }
  .btn_nikeair {
    display: none;
  }
  .btn_vans {
    display: none;
  }
  #user_container #loginform {
    width: 80%;
    left: 5%;
  }
  #loginform {
    width: 80%;
    left: 5%;
  }
  #registerform {
    width: 80%;
    left: 5%;
  }
  .main_product_item {
    margin-bottom: 10%;
  }
  .main_product_item:hover {
    height: 246px;
  }
  .main_product_item:hover .main_product_buy {
    font-size: small;
  }
  .main_product_buy {
    bottom: 100px;
  }

  .main_product_name {
    font-size: small;
  }
  #detail_container {
    top: 9%;
  }
  #detail_form #detail_name {
    font-size: x-large;
    height: 20%;
  }
  #detail_form #detail_price {
    font-size: large;
  }
  #detail_form #detail_company {
    font-size: large;
  }
  #detail_form #detail_text {
    margin-bottom: 6%;
    font-size: large;
  }
  #detail_form #detail_buy {
    padding: 1% 5%;
  }
  #detail_form #detail_cart {
    padding: 1% 1%;
  }

  .footer_text1 {
    left: 5px;
  }
  .footer_text2 {
    left: 132px;
  }
  .footer_text3 {
    left: 310px;
  }
  .logo_shop {
    top: 0px;
    right: 0px;
  }
  #footer_icon {
    position: absolute;
    right: 0px;
  }
  .icontw {
    right: 20px;
  }
  .iconyt {
    right: 70px;
  }
  .iconig {
    right: 120px;
  }
  .iconfb {
    right: 170px;
  }
}
.thongbao video {
  border-radius: 20px;
  width: 15%;
  position: fixed;
  top: 25%;
  left: 40%;
}
